/******************** GENERAL *******************/

body {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #fff;
}

ul {
  list-style: none;
  padding-left: 0;
}

h3,
.btn,
.pizza-part,
.total-row h4 {
  font-weight: bold;
}

.btn,
.panel-heading {
  border-radius: 0;
}

.btn,
.medium,
.large,
.x-large,
.xx-large {
  background-color: #df413e;
}

.col-xs-6,
.col-xs-12 {
  background-color: #e1ccb1;
}

.container {
  width: 80%;
}

.create-pizza-col,
.your-order-col {
  padding: 0 7%;
}

/*.pizza-part {
  font-size: 1.1em;
  margin-top: 1.6em;
}

.other-toppings,
.pizza-part {
  margin-top: 0.2em;
}*/

.pizza-part {
  margin: 1.1em 0 0.2em 0;
}

h3 {
  margin-bottom: 15px;
}

h3,
.large,
.medium,
.x-large,
.xx-large,
.panel-heading,
.radioGroupBelow p {
  text-align: center;
}

.btn {
  font-size: 1.3em;
  display: block;
  margin: 0 auto;
  margin-top: 1.2em;
}

.btn:hover,
.panel-heading a:hover {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  color: #000;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

/* butt background */
.col-xs-6 {
  height: 710px;
  border-bottom-right-radius: 260px;
  border-bottom-left-radius: 260px;
}

.create-pizza-col {
  border-bottom-right-radius: 180px;
}

.your-order-col {
  border-bottom-left-radius: 180px;
}


/* accordian panel & table */
.order-labels h4,
.panel-heading a,
td:first-child {
  font-weight: bold;
  text-decoration: none;
}

.panel-heading {
  background-color: #df413e !important;
  color: #fff !important;
  padding: 10px;
}

.panel-group {
  margin-top: 5%;
}

.col-xs-10,
.order-details,
td:nth-child(2) {
  text-align: right;
}

.table > tbody > tr > td {
  padding-top: 0;
  padding-bottom: 1em;
  border-top: 0;
}

.panel-body,
.table > tbody > tr > .total-cost,
.table > tbody > tr > td:first-child {
  padding-bottom: 0;
}

.new-order-clear {
  display: none;
}

/*********************** pizza sizes **************************/

.medium,
.large,
.x-large,
.xx-large {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  border-radius: 50%;
}

.medium {
  line-height: 50px;
  width: 50px;
  height: 50px;
}

.large {
  line-height: 60px;
  width: 60px;
  height: 60px;
}

.x-large {
  line-height: 70px;
  width: 70px;
  height: 70px;
}

.xx-large {
  line-height: 80px;
  width: 80px;
  height: 80px;
}

/*********************** Animation **************************/

.animated:hover {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.butt-animation {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes wiggle {
  0%  { -webkit-transform: skewX(9deg);}
  10% { -webkit-transform: skewX(-8deg);}
  20% { -webkit-transform: skewX(7deg);}
  30% { -webkit-transform: skewX(-6deg);}
  40% { -webkit-transform: skewX(5deg);}
  50% { -webkit-transform: skewX(-4deg);}
  60% { -webkit-transform: skewX(3deg);}
  70% { -webkit-transform: skewX(-2deg);}
  80% { -webkit-transform: skewX(1deg);}
  90% { -webkit-transform: skewX(0deg);}
 100% { -webkit-transform: skewX(0deg);}
}

@keyframes wiggle {
  0%   {-webkit-transform: skewX(9deg);  transform: skewX(9deg);}
  10%  {-webkit-transform: skewX(-8deg); transform: skewX(-8deg);}
  20%  {-webkit-transform: skewX(7deg);  transform: skewX(7deg);}
  30%  {-webkit-transform: skewX(-6deg); transform: skewX(-6deg);}
  40%  {-webkit-transform: skewX(5deg);  transform: skewX(5deg);}
  50%  {-webkit-transform: skewX(-4deg); transform: skewX(-4deg);}
  60%  {-webkit-transform: skewX(3deg);  transform: skewX(3deg);}
  70%  {-webkit-transform: skewX(-2deg); transform: skewX(-2deg);}
  80%  {-webkit-transform: skewX(1deg);  transform: skewX(1deg);}
  90%  {-webkit-transform: skewX(0deg);  transform: skewX(0deg);}
  100% {-webkit-transform: skewX(0deg);  transform: skewX(0deg);}
}

.wiggle:hover, .butt-wiggle {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.animated.wiggle {
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}

.butt-animation.butt-wiggle {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

/************** align radio buttons pizza sizes *****************/

.radioGroupBelow label {
  display: inline-block;
}

.radioGroupBelow label input[type='radio'] {
  display: block;
  margin: .5em auto;
}

.radioGroupBelow p {
  margin-top: 1em;
}

/******************** MEDIA QUERIES **********************/

@media screen and (max-width: 1365px) {

  .col-xs-6 {
    height: 530px;
  }

  img {
    width: 140px;
    height: 140px;
  }

  .btn,
  .checkbox,
  .pizza-part,
  .quantities,
  .radio-inline,
  .radioGroupBelow p,
  .radioGroupBelow label {
    font-size: 10px;
  }

  .radioGroupBelow p {
    font-size: 14px;
  }

  h3, h4 {
    font-size: 16px;
    margin: 0;
  }

  .panel-group h4 {
    margin-bottom: 0.5em;
  }

  .radioGroupBelow label,
  .radioGroupBelow p {
    margin: 4px 0 0 0;
  }

  input[type=checkbox], input[type=radio] { /* vert align checkbox */
    vertical-align: -2px;
    margin: 0;
    padding: 0;
  }

  /* pizza sizes*/
  .medium {
    line-height: 30px;
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .large {
    line-height: 40px;
    width: 40px;
    height: 40px;
  }

  .x-large {
    line-height: 50px;
    width: 50px;
    height: 50px;
  }

  .xx-large {
    line-height: 60px;
    width: 60px;
    height: 60px;
  }
}


@media screen and (max-width: 1200px) {
  .col-xs-6 {
    height: 550px;
  }
}

@media screen and (max-width: 955px) {
  .col-xs-6 {
    height: 650px;
  }

  .radioGroupBelow label {
    display: block;
    margin-top: 12px;
  }

  .radioGroupBelow p {
    display: inline;
  }

  .radioGroupBelow label input[type='radio'] {
    float: left;
  }
}



@media screen and (max-width: 854px) {
  .col-xs-6 {
    height: 680px;
  }

  .pizza-crusts label,
  .pizza-crusts input {
    display: block;
  }

  .radio-inline {
    margin-left: 0 !important;
  }
}



@media screen and (max-width: 770px) {
  .col-xs-6 {
    height: 800px;
  }

  .order-details h4 {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 730px) {
  td {
    display: block;
  }

  td:nth-child(2) {
    text-align: left;
    font-size: 12px;
  }
}



@media screen and (max-width: 581px) {
  .container {
    width: 100%;
  }

  .col-xs-6 {
    height: 880px;
  }

  .btn,
  .checkbox,
  .pizza-part,
  .quantities,
  .radio-inline {
    font-size: 14px;
  }

  input[type=checkbox], input[type=radio] { /* realign checkbox vertically */
    margin: 4px 0 0;
  }

  /* pizza sizes */
  .medium,
  .large,
  .x-large,
  .xx-large {
    margin-left: 4px;
    font-weight: normal;
  }

  .medium {
    line-height: 25px;
    width: 25px;
    height: 25px;
  }

  .large {
    line-height: 30px;
    width: 30px;
    height: 30px;

  }

  .x-large {
    line-height: 40px;
    width: 40px;
    height: 40px;

  }

  .xx-large {
    line-height: 45px;
    width: 45px;
    height: 45px;
  }
}
