/******************** GENERAL *******************/

body {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #fff;
}

ul {
  list-style: none;
}

.pizza-part {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.btn,
.medium,
.large,
.x-large,
.xx-large {
  background-color: #df413e;
}

.col-xs-6 {
  height: 710px;
  border-bottom-right-radius: 225px;
  border-bottom-left-radius: 225px;
}

.col-xs-12,
.col-xs-6 {
  background-color: #e1ccb1;
}

.order-details {
  text-align: right;
}

h3 {
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.btn {
  font-size: 1.3em;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  margin-top: 1.2em;
}

.btn:hover,
.panel-heading a:hover {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  color: #000;
}

.create-pizza-col {
  border-bottom-right-radius: 180px;
}

.create-pizza-col,
.your-order-col {
  padding: 0 7%;
}

.x-large {
  display: block;
}

.your-order-col {
  border-bottom-left-radius: 180px;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.total-row h4 {
  font-size: 1.5em;
  font-weight: bold;
}

input[type=checkbox], input[type=radio] { /* vertically aligns checkbox */
    vertical-align: -2px;
    margin: 0;
    padding: 0;
}


/* accordian panel */
.order-labels h4,
.panel-heading a {
  font-weight: bold;
  text-decoration: none;
}

.panel-heading {
  background-color: #df413e !important;
  color: #fff !important;
}

.col-xs-10 {
  text-align: right;
}

.panel-group {
  margin-top: 5%;
}


/*********************** pizza sizes **************************/

.medium,
.large,
.x-large,
.xx-large {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.medium {
  line-height: 50px;
  width: 50px;
  height: 50px;
}

.large {
  line-height: 60px;
  width: 60px;
  height: 60px;
}

.x-large {
  line-height: 70px;
  width: 70px;
  height: 70px;
}

.xx-large {
  line-height: 80px;
  width: 80px;
  height: 80px;
}

/* animation */
.animated:hover {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.butt-animation {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes wiggle {
  0% { -webkit-transform: skewX(9deg);}
  10% { -webkit-transform: skewX(-8deg);}
  20% { -webkit-transform: skewX(7deg);}
  30% { -webkit-transform: skewX(-6deg);}
  40% { -webkit-transform: skewX(5deg);}
  50% { -webkit-transform: skewX(-4deg);}
  60% { -webkit-transform: skewX(3deg);}
  70% { -webkit-transform: skewX(-2deg);}
  80% { -webkit-transform: skewX(1deg);}
  90% { -webkit-transform: skewX(0deg);}
 100% { -webkit-transform: skewX(0deg);}
}

@keyframes wiggle {
  0% {-webkit-transform: skewX(9deg);transform: skewX(9deg);}
  10% {-webkit-transform: skewX(-8deg);transform: skewX(-8deg);}
  20% {-webkit-transform: skewX(7deg);transform: skewX(7deg);}
  30% {-webkit-transform: skewX(-6deg);transform: skewX(-6deg);}
  40% {-webkit-transform: skewX(5deg);transform: skewX(5deg);}
  50% {-webkit-transform: skewX(-4deg);transform: skewX(-4deg);}
  60% {-webkit-transform: skewX(3deg);transform: skewX(3deg);}
  70% {-webkit-transform: skewX(-2deg);transform: skewX(-2deg);}
  80% {-webkit-transform: skewX(1deg);transform: skewX(1deg);}
  90% {-webkit-transform: skewX(0deg);transform: skewX(0deg);}
  100% {-webkit-transform: skewX(0deg);transform: skewX(0deg);}
}

.wiggle:hover, .butt-wiggle {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.animated.wiggle {
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}

.butt-animation.butt-wiggle {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

/************** align radio buttons pizza sizes *****************/

.radioGroupBelow label {
  display: inline-block;
}

.radioGroupBelow label input[type='radio'] {
  display: block;
  margin: .5em auto;
}

.radioGroupBelow p {
  margin-top: 1em;
  text-align: center;
}

/******************** MEDIA QUERIES **********************/

@media screen and (max-width: 1365px) {

  .col-xs-6 {
      height: 500px;
  }

  img {
    width: 140px;
    height: 140px;
  }

  .btn,
  .checkbox,
  .pizza-part,
  .quantities,
  .radio-inline,
  .radioGroupBelow p,
  .radioGroupBelow label {
    font-size: 10px;
  }

  .radioGroupBelow p {
    font-size: 14px;
  }

  h3, h4 {
    font-size: 16px;
    margin: 0;
  }

  .panel-group h4 {
    margin-bottom: 0.5em;
  }


  .radioGroupBelow label,
  .radioGroupBelow p {
    margin: 4px 0 0 0;
  }

  /* pizza sizes*/
  .medium {
    line-height: 30px;
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .large {
    line-height: 40px;
    width: 40px;
    height: 40px;
  }

  .x-large {
    line-height: 50px;
    width: 50px;
    height: 50px;
  }

  .xx-large {
    line-height: 60px;
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .col-xs-6 {
    height: 620px;
  }
}

@media screen and (max-width: 990px) {
  .col-xs-6 {
    height: 750px;
  }
}

@media screen and (max-width: 581px) {
  .col-xs-6 {
    height: 1000px;
  }
}
